<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Esock</title>  -->
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src="https://code.jquery.com/jquery-latest.js"></script>
	
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="javascripts/script_main.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/javascripts/ToProgress_min.js"></script>
	<script src="/javascripts/script_main.js"></script>
	<script src="/javascripts/anime.min.js"></script>
	<style>

		@media(max-width:1200px){
			*{
				
			}
		}
	</style>

</head>

<body>
	<!--  ========================= menu area =======================  -->
	<section class="menu">
		<div class="menu_bar" id="menu_bar_id">
			<div id="logo"><h1><span class="yellow_title">E</span>Sock</h1></div>
				<ul>
					<li><a href="#menu" class="menu_items">HOME</a></li>
					<li><a href="#about" class="menu_items">ABOUT</a></li>
					<li><a href="#cup" class="menu_items">CUP</a></li>
					<li><a href="#team" class="menu_items">TEAM</a></li>
					<li><a href="#game" class="menu_items">GAME</a></li>`
				</ul>
		</div>
		

		<div class="menu_content" class="content">
			<div id="main_title">
				<h1><span class="yellow_title">E</span>urope</h1>
				<h1><span class="yellow_title">Soc</span>cer</h1>
			</div>
		</div>


		

	</section>
	<!--/* ======================= //menu area ========================== */-->
	<!--/* ======================= about area ========================== */-->
	<!-- rgb(240,178,15) orange -->

	<section id="about">
		<div id="about_header">
			<h1 style="font-size:80px; color:black;">ABOUT</h1>
		</div>

		<div id="about_describe_wrap">
			<p id="about_describe">
				유럽축구경기를 보지 않으시는 분들이나 이제 막 보려 하는 분들은 유럽에 어느 리그가 있고,
				어느 팀이 유명하고, 어떤 팀이 어느 플레이를 하는지 잘 알지 못하십니다. <br>
				유럽에는 많은 축구팀들이 있는데, 각 리그마다 그리고 각 팀에 따라 플레이하는 스타일이 다르고  
				감독의 전술 또한 다릅니다. <br>
				팀에서 선수들의 컨디션, 감독의 전술, 경기장의 위치, 경기의 일정 등 많은 변수들이
				승패를 좌지우지하기 때문에 축구는 결과를 예측하기 어렵습니다. <br>
				이러한 점이 축구경기의 매력이라 할 수 있습니다. 상대팀의 전술에 따라 우리팀의 포지션, 전술이 변하고 <br>
				상대의 수비벽을 뚫기 위해 전반전과 후반전의 전술이 바뀌는 장면도 축구의 묘미라 할 수 있습니다. <br> 
				이 곳에서 다양한 팀들을 보면서 여러분들도 꼭 응원하는 팀 하나씩은 가지고 돌아가셨으면 좋겠습니다. <br>
				마지막으로, 맨시티 우승 가야아지이! <br>
			</p>
		</div>
		
	</section>
	<!--/* ======================= about area ========================== */-->
<!--  ======================= cup area =======================  -->
	<section id="cup">
		<!-- <img src="Laliga_logo.png" width=100>
		<img src="PremierLeague_logo.png" width=100>. -->
		<div id="cup_title" class="title">
			<h1>League Cup</h1>
		</div>
		
		<div id="cup_content_wrap">
			<div id="cup_content_left">
				<div id="league_name">
					<h2>League name</h2>
					 <p style="color: white;">Primera Liga</p>
				</div>

				<div id="country_name">
					<h2>Country</h2>
				  	<img src="/images/country_icon/spain.png" style="width:230px; margin:25px;">
				  	<p style="color: white">spain</p>
				</div>
			</div>

			<div id="cup_content" class="content">
		    	<img src="/images/ext_icon/up_arrow.png" class="cup_image_change" width=50px style="transform: rotate(-90deg);">
				<img class="cup_image" width=450>
				<img src="/images/ext_icon/up_arrow.png" class="cup_image_change" width=50px style="transform: rotate(90deg);">
			</div>

			<div id="cup_content_right">
				<div class="cup_pg_bar_wrap">
					<h1>speed</h1><br>
					<div class="cup_pg_bar" id="cup_pg_bar_1"></div>
				</div>
				<div class="cup_pg_bar_wrap">
					<h1>build</h1><br>
					<span  class="cup_pg_bar" id="cup_pg_bar_2"></span>
				</div>
				<div class="cup_pg_bar_wrap">
					<h2>skill</h2><br>
					<span class="cup_pg_bar" id="cup_pg_bar_3"></span>
				</div>
			</div>
		</div>

		<div id="cup_foot" class="foot">
			<h3>Europ Soccer</h3>
		</div>
		<div style="clear:both;"></div>
	</section">
<!--  ========================= //cup area ========================  -->
<!--  ========================= team area ======================  -->
	<section id="team">
		<div id="team_title" class="title">
			
			<h1>TEAM</h1>
				<!-- <form action="/player" name="player">  -->
					<!-- <li><img > </li>    자바스크립트로 삽입할 예정 -->
				<!-- </form>  -->  
			<div id="team_cup_select">
				<h3 id="team_cup_name">Europe Premier League<!--  LEAUGE name  javascfrip--></h3>
			<div>
		</div>
<!--  ----------------------- popup area -----------------------  -->
		<div id="team_modal">
			<div id="team_modal_content">
				<span class="close">&times;</span>
				<h3 id="pop_up_title"><!-- javascript --></h3>
				<div id="player_img_wrap">
					<img src="" id="player_main_img">
				</div>
				<div id="player_list_wrap">
					<ul id="player_list">
                        
                    </ul>
                    player2
				</div>
			</div>
		</div>


		<div id="team_content_2" class="content">
			<ul id="team_img_list">
				<!-- <li>team name</li>  javascirpt -->
			</ul>
		</div>

		<div id="team_content_3">
			<!-- <h3><span>M</span>anchester <span>U</span>nited</h3>	 -->
		</div>

	</section>

<!--  ======================== //team area ========================  -->

	<section id="game">
		<div>
			<div id="game_title">
				<h1 style="color:white;">GAME</h1>
			</div>

			<div id="game_content">
				
			</div>
		</div>
	</section>
</body>
</html>